.wavemaker {
    width: 500px;
    height: 500px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: 0;
}

.isPrimary {
    animation: primary 1s forwards;
}

.isSecondary {
    animation: secondary 1s forwards;
}

@keyframes secondary {
    0%   {z-index: 2; transform: translate3d(0px,0px,0px); opacity: .8;}
    50%  {transform: translate3d(-100px,-200px,0px)}
    100%   {z-index: 1; transform: translate3d(0px,0px,0px); opacity: 1;}
}

@keyframes primary {
    0%   {z-index: 1; transform: translate3d(0px,0px,0px); opacity: 1;}
    50%  {transform: translate3d(100px,200px,0px)}
    100%   {z-index: 2; transform: translate3d(0px,0px,0px); opacity: .8;}
}